<%= bootstrap_form_for(@host, style: :horizontal, left: "col-sm-2", right: "col-sm-4") do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field(:name) %>
  <%= f.select :status, ["Pending", "Deployed","Superseded","Rejected"] %>
  
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>