<h1>Release <%= @release.version %></h1>

<dl class="dl-horizontal">
  <dt>Product</dt><dd><%= @release.product.name %></dd>
  <dt>Deployment status</dt><dd><%= @release.status %></dd>
</dl>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
